
/* 
    TODO Para las fuentes
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

/* 
   TODO Estilos de las fuentes
*/

$font:'Rubik', sans-serif;
$weight-normal:400;
$weight-bold: 500;
$size: 18px;

/* 
    TODO Estilos de los colores
*/
$soft-blue: hsl(231, 69%, 60%);
$soft-red:hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);
