/* 
    Importando fuentes y colores
*/

@import './variables';

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family:$font ;
    font-size: $size;
    scroll-behavior: smooth;
}



a{
    text-decoration: none;
    font-weight: $weight-normal;
    
    &:hover{
        color: $soft-red !important;
    }

}

.bg-btn{
    background-color: $soft-red;
    padding: 2px 10px ;
    border-radius: 5px;
    list-style: none;
    transition: all .4s;
    color: #fff;
}

.bg-btn.active:hover{
    outline: 3px solid $soft-red;
    background-color: transparent;
    filter: blur(.2px);
    color: #fff;
    
}

.size{
    font-size: $size;
    color: $Grayish-Blue;
}

.h1{
    font-weight: $weight-bold;
    color:$Very-Dark-Blue !important;
}

.btn-primary{
    background-color: $soft-blue;
    color: #fff;
    width: 80%;
    padding: 15px 0;
}

.btn-outline-secondary{
    width: 80%;
    padding: 15px 0;
}

.list{
    list-style: none;
    
}
.scale{

    transform: scale(1);
    transition: transform .8s;

}

.more{
    color: #fff;
    padding: 10px 20px;
}

.more:hover{
    color: $soft-blue;
    background-color: transparent;
}

.scale:hover{
    transform: scale(1.055);
    cursor: pointer;
}

.image{
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.mt-6{
    margin-top: 100px;
}

.btn-download{
    background-color: $soft-blue;
    padding: 15px 20px;
    color: #fff;
    font-weight: $weight-bold;
}

.btn-download:hover{
    background-color: transparent;
    border: 2px solid $soft-blue;
    color: $soft-blue !important;
}

.footer{
    background-color: $Very-Dark-Blue;
}




